    body {
    background-color: rgba(105, 105, 211, 0.397);
    width: 100%;
    margin: auto;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    background-color: white;
  }
  
  .todo-list {
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  }

  label {
  width: 100%;
  display: flex;
 }
 
 .texty {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315); 
  padding: 5px;
 }
 
 .btn-success {
  margin-top: 20px;
 }
 .terminado {
  background-color: rgb(187, 255, 187);
 }